a {
    display: flex;
    padding: 0.7rem 1rem;
    justify-content: right;
    margin: 0 -1.25rem;
    text-decoration: none;
    font-size: 1.1875rem;
    text-transform: uppercase;
    transition: transform .25s;
    transform-origin: right center;
    align-items: center;
    color: #3a3d57;
    font-family: 'Open Sans Light', sans-serif;
    transition-timing-function: ease;
    
}
a:hover {
    transform: scale(1.05);
    filter: invert(27%) sepia(83%) saturate(4917%) hue-rotate(155deg) brightness(94%) contrast(98%);

}

a:hover .image {
    transform: scale(1.35);
    transition: transform .25s;
    transform-origin: center;
}

.image {
    display: inline-block;
    margin-left: 0.625rem;
    filter: invert(22%) sepia(21%) saturate(792%) hue-rotate(195deg) brightness(93%) contrast(90%);
    
}

li {
    list-style: none;
    text-align: right;
    
}
