.row {
  border-bottom: #fff 0.0625rem solid;
}
.datarow {
  width: 100%;
  display: flex;
  flex-direction: row;
  color: black;
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;

}
.datarow div {
  margin-left: 10px;
  margin-top: 10px;
  background-color: #fff;
  width: 100%;
}
.intro {
  display: flex;
  flex-direction: row;
  margin-top: 10px;

  color: black;
}

.tdOpen {
  width: 100%;
  background-color: #fff;
}
.trOpen {
  width: 100%;
  background-color: #fff;
}

.image {
  margin: 10px;
}

.introSub {
  display: flex;
  flex-direction: column;
}

.introSub a {
  margin: auto;
  margin-left: 0;


}

button{
  font-size: .75rem;
  padding: 0.85em 1.7em;
  text-align: center;
  cursor: pointer;
  background-color: #14cc76;
  font-weight: 700;
  line-height: 1;
  border-width: 0;
  color: #3a3d57;
  text-transform: uppercase;
  box-sizing: border-box;
}